/Carthage
/.DS_Store
/Formosa.xcodeproj/project.xcworkspace/xcuserdata/Jordan.xcuserdatad/UserInterfaceState.xcuserstate
/Formosa.xcodeproj/project.xcworkspace/xcuserdata/jkay010.xcuserdatad/UserInterfaceState.xcuserstate
